.resume {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: url(../../assets/betterpixelsky.png) center;
  }
  
  .section_title {
    margin-top: -2rem;
  }
  
  .btn {
    margin-top: 1rem;
  }