.contact_container {
    grid-template-columns: 3fr 9fr;
    column-gap: 1.875rem;
    margin-top: 1.5rem;
}

.section_title {
    margin-top: -2rem;
    position: relative;
}

.contact_data {
    padding: 1.875rem;
    background-color: var(--container-color);
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    align-items: flex-start;
    position: relative;
}

.contact_data::before {
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 15px solid var(--container-color);
    position: absolute;
    left: -0.93rem;
    top: 20%;
}

.contact_description {
    margin-bottom: 1rem;
    text-align: start;
}

.contact_img {
    border-radius: 80%;
}

@media screen and (max-width: 1024px) {
    .contact_container {
        grid-template-columns: 1fr;
        justify-content: center;
        row-gap: 1.875rem;
    }

    .contact_data::before {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #fff;
        left: 49%;
        top: -20px;
    }

    .contact_img {
        justify-self: center;
    }
}

@media screen and (max-width: 768px) {
    .contact_container {
        grid-template-columns: 1fr;
        row-gap: 1.875rem;
    }

    .contact_data::before {
        left: 47%;
    }
}

@media screen and (max-width: 576px) {
    .contact_container {
        grid-template-columns: 1fr;
        margin-top: 1rem;
    }
}
